#button {

    /* padding: 0 6px 0 6px; */
    margin: 6px 8px 6px 8px;

    /* text of the button */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    /* design and size of the button */
    border: unset;
    border-radius: 10px;
    width: 150px;
    height: 64px;

    outline: none;
    background-color: rgb(75, 170, 255);
    color: black;

    /* other */
    cursor: pointer;
    transition: 0.5s;
}

#button:hover {
    background-color: rgb(75, 135, 255);
}

#card {
    background-color: blue;
}